<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit rating</title>
</head>
<body>
    <h2>Book: {{book.title}}</h2>
    <h3>Current rating: {{book.rating}}</h3>
    <form action=" {{url_for('edit_rating', book_id=book.id) }}" method="POST">
        <label for="rating">New Rating:</label>
        <input type="text"  id="rating" name="rating" />
        <button type="submit">Change Rating</button>
    </form>
</body>
</html>